h1 {
    background-color: blue;
}

img {
    max-width: 100%;
}

.images {
    text-align: center;
}

.box {
    margin: 10px;
}

@media (min-width: 576px) {
    .box {
        display: inline-block;
        width: 25%;
    }
}

