h1 {
    background-color: blue;
}

img {
    max-width: 100%;
}

.images {
    text-align: center;
}

.box {
    width: 25%;
    margin: 10px;
    display: inline-block;
}

@media (max-width: 400px) {
    .box {
        display: block;
        width: auto;
    }
}

